body {
    font-family: Consolas, Sans-Serif;
    background-image: radial-gradient(circle, brown, black);
}

.navbar div, .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #592c0f;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #673815;
}

#lobbyDenzel {
    height: 50%;
    text-align: center;
}