body {
    font-family: Consolas, Sans-Serif;
    background-image: radial-gradient(circle, brown, black);
}

.navbar div, .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #592c0f;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #673815;
}

#lobbyDenzel img {
    width: 50%;
}

#lobbyDenzel img:hover {
    box-shadow: 5px 10px 8px;
}

h1 {
    color: white;
    text-align: center;
}

.content-left {
    color: white;
    background-color: #592c0f;
    border-radius: 5px;
    display: flex;
    width: 50%;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 3;
        color: white;
        background-color: #592c0f;
        border-radius: 5px;
        display: flex;
        width: 50%;}
.div2 { grid-area: 1 / 3 / 3 / 4; }
.div3 { grid-area: 1 / 4 / 3 / 6; }

