body {
    font-family: Consolas, Sans-Serif;
    background-image: radial-gradient(circle, brown, black);
}

.navbar div, .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #592c0f;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #673815;
}

#lobbyDenzel img {
    width: 15rem;
}

#lobbyDenzel img:hover {
    box-shadow: 5px 10px 8px;
}

h1 {
    color: white;
    text-align: center;
}

.content-left {
    color: white;
    background-color: #592c0f;
    border-radius: 5px;
    display: flex;
    width: 50%;
}

